@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    background: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 24px 0;
    line-height: 20px;
    color: #2D3440;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    max-width: 550px;
    flex-wrap: wrap;
}

.logo-link {
    margin-right: 16px;
}

.logo-link img {
    display: block;
}

.action-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 300px;
}

.action-item {
    position: relative;
}

.popover {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    display: none;
}

.popover-open {
    display: block;
}

.popover-search {
    width: 356px;
    padding: 24px 16px;
    font-weight: 400;
    font-size: 16px;
}

.search-field-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-form input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    padding: 13px 30px 13px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.search-clear-button {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 13px;
    top: 16px;
    background-color: transparent;
    background-image: url("../images/form/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.4;
    cursor: pointer;
    display: none;
}

.button-show {
    display: block;
}

.popover-cart {
    width: 441px;
    padding: 48px 48px 44px 44px;
}

.popover-cart-empty {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    width: 288px;
    text-align: center;
}

.popover-cart-empty p {
    margin: 48px 0;
}

.popover-title {
    margin: 0 0 32px 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.cart-items-list {
    margin: 0;
    margin-left: 4px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.cart-item {
    display: grid;
    column-gap: 16px;
    grid-template-columns: 46px 148px 87px 16px;
    align-items: center;
}

.cart-item-description {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-amount {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B9B9B9;
}

.cart-item-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.cart-delete-button {
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url("../images/form/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.cart-bottom-container {
    border-top: 1px solid #E7E7E7;
    margin-top: 31px;
    padding-top: 28px;
    display: flex;
    align-items: center;
}

.cart-purchase-button,
.signin-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 32px;
    color: #FCFCFC;
    background-color: #FF2F64;
    background-clip: padding-box;
    border: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    cursor: pointer;
}

.cart-total-price {
    margin: 0 0 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.popover-signin {
    width: 420px;
    padding: 48px 48px 48px 44px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.signin-form input {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    margin-left: 4px;
    padding: 13px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.signin-bottom-container {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 19px;
}

.signin-links-container {
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.signin-links-container a {
    border-bottom: 1px solid #2D3440;;
}

.signin-links-container a:hover {
    text-shadow: 0 0 1px #2D3440;
}

.menu-button,
.action-item > button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    border: 2px solid transparent;
}

.menu-button {
    padding: 6px 14px 6px 14px;
    background-color: transparent;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
}

.navigation-item > button:not(.active-popup-button):hover,
.action-item > button:not(.active-popup-button):hover,
.navigation-item a:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.navigation-item > button:not(.active-popup-button):focus-visible,
.action-item > button:not(.active-popup-button):focus-visible,
.navigation-item a:focus-visible {
    background-color: rgba(252, 252, 252, 0.5);
    border-color: #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .navigation-item > button:not(.active-popup-button):focus,
    .action-item > button:not(.active-popup-button):focus,
    .navigation-item a:focus {
        background-color: rgba(252, 252, 252, 0.5);
        border-color: #2D3440;
        outline: none;
    }    
}

.navigation-item > button:not(.active-popup-button):active,
.action-item > button:not(.active-popup-button):active,
.navigation-item a:active {
    background-color: #FCFCFC;
    border-color: transparent;
}

.navigation-item a {
    display: block;
    padding: 6px 14px;
    border: 2px solid transparent;
    border-radius: 30px;
}   

.phone-link {
    margin-left: auto;
    margin-right: 16px;
    font-weight: 700;
}

.action-item > button {
    background: rgba(252, 252, 252, 0.3);
}

.button-search {
    padding: 6px;
    border-radius: 50%;
}

.button-signin,
.button-show-cart {
    padding: 4px 14px;
    border-radius: 36px;
}

.search-icon {
    display: block;
    margin: auto;
}

.dropdown-arrow-icon {
    margin-left: 7px;
}

.active-popup-button .dropdown-arrow-icon {
    transform: scaleY(-1);
}

.log-in-icon, 
.cart-icon {
    margin-right: 7px;
    vertical-align: sub;
}

.header .active-popup-button {
    color: #FCFCFC;
    background-color: #FF4A78;
}

.header .active-popup-button:hover {
    opacity: 0.6;
}

.header .active-popup-button:focus-visible {
    border-color: #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .header .active-popup-button:focus {
        border-color: #2D3440;
        outline: none;
    }
}

.header .active-popup-button:active {
    opacity: 0.3;
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: inherit;
    color: #2D3440;
}

.menu-link-favourite {
    font-weight: 700;
}

.main-container {
    flex-grow: 1;
}

.main-container .hero {
    margin-bottom: 78px;
}

.main-container .gift-promo {
    margin-bottom: 81px;
}

.main-container .popular,
.main-container .about,
.main-container .blog-excerpt,
.main-container .newsletter,
.main-container .delivery {
    margin-bottom: 80px;
}

.hero {
    color: #2D3440;
}

.slider-container {
    display: flex;
}

.slider-left-half {
    min-width: 525px;
    padding-top: 136px;
    padding-left: 70px;
}

.slider-right-half {
    padding-top: 21px;
    padding-left: 20px;
    position: relative;
}

.slider-text-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-text-item h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}

.slider-text-item p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 44px;
}

.slider-image-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.slider-image-list img {
    display: block;
}

.slider-image-list li {
    position: relative;
}

.slider-image-current {
    margin-right: 57px;
    order: -1;
}

.slider-image-current img {
    width: 327px;
    object-fit: cover;
}

.slider-image-thumbnail {
    width: 100px;
    height: 150px;
    margin-top: 183px;
    order: 0;
}

.slider-image-thumbnail:not(:last-child) {
    margin-right: 41px;
}

.slider-image-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.4;
}

.slider-image-list li::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-color: #FFCBD8;
    z-index: -1;
    border-radius: 50%;
}

.slider-image-current::before {
    height: 312px;
    top: 100px;
}

.slider-image-thumbnail::before {
    height: 0;
    padding-top: 100%;
    margin: auto 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
}

.slider-buttons-container {
    position: absolute;
    top: 258px;
    width: 327px;
    display: flex;
    justify-content: space-between;
}

.slider-button {
    padding: 0;
    width: 38px;
    height: 38px;
    border: 2px solid #FCFCFC;
    border-radius: 50%;
    background: rgba(252, 252, 252, 0.3);
    color: #FCFCFC;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider-prev {
    transform: translateX(-48%);
}

.slider-next {
    transform: translateX(48%);
}

.slider-button:hover {
    background-color: #FCFCFC;
    color: #2D3440;
}

.slider-button:focus-visible {
    border-color: #2D3440;
    color:#2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .slider-button:focus {
        border-color: #2D3440;
        color:#2D3440;
        outline: none;
    }
}

.slider-button:active {
    border-color: transparent;
    background-color: rgba(252, 252, 252, 0.5);
    color:#2D3440;
}

.slider-button:disabled {
    border-color: #FCFCFC;
    background-color: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    cursor: default;
    color: #FCFCFC;
}

.hero .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero .slider-pagination {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.slider-pagination .pagination-item {
    margin-right: 8px;
}

.pagination-button {
    padding: 0;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.3);
    cursor: pointer;
}

.pagination-button:hover {
    border-color: #FCFCFC;
}

.pagination-button:focus-visible {
    border-color: #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .pagination-button:focus {
        border-color: #2D3440;
        outline: none;
    }    
}

.pagination-button:active {
    border-color: transparent;
    background-color: rgba(252, 252, 252, 0.5);
}

.pagination-button-current {
    background-color: #FCFCFC;
}

.link-button {
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    padding: 12px 32px;
    margin-left: -4px;
    color: #2D3440;
    background-color: #FCFCFC;
    background-clip: padding-box;
    text-decoration: none;
    text-align: center;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.link-button:hover {
    background-color: rgba(252, 252, 252, 0.4);
    border-color: #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.link-button:focus-visible {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border: 2px solid #2D3440;
    margin: 2px 2px 2px -2px;
    outline: none;
}

@supports not selector(:focus-visible) {
    .link-button:focus {
        background-color: rgba(252, 252, 252, 0.5);
        box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
        border: 2px solid #2D3440;
        margin: 2px 2px 2px -2px;
        outline: none;
    }
}

.link-button:active {
    background-color: #FCFCFC;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border: 2px solid #2D3440;
    margin: 2px 2px 2px -2px;
}

.lead-text {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0 0 56px;
}

.gift-promo {
    color: #2D3440;
}

.gift-promo .lead-text {
    margin-bottom: 55px;
}

.gift-promo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.gift-promo-item {
    background: #FF7799;
    width: 570px;
    padding-left: 36px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
}

.gift-promo-item .text-container {
    margin: 36px 11px 32px 0;
    align-self: center;
}

.gift-promo-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.gift-promo-item p {
    margin: 28px 0 24px;
}

.product-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap:40px 30px;
}

.product-card {
    background: #FCFCFC;
    text-align: center;
    padding: 0 40px 24px;
    margin-top: 51px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    display: block;
    margin: -51px auto 16px auto;
    box-shadow: 0 4px 10px 0 rgba(45, 52, 64, 0.1);
    border-radius: 50%;
}

.product-card .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-card h3, 
.product-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.product-card h3 {
    margin: 0 0 8px;
}

.product-card p {
    margin: 0 0 16px;
}

.product-card button {
    background-color: #FF2F64;
    background-image: url("../images/icons/cart-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    border: 2px solid #FF2F64;
    border-radius: 50%;
    cursor: pointer;
}

/* Предзагрузка светлой иконки для смены состояний */
.product-card button:before {
    content: url("../images/icons/cart-dark.svg");
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
}

.product-card button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../images/icons/cart-dark.svg");
}

.product-card button:focus-visible {
    border-color: #2D3440;
    background-image: url("../images/icons/cart-light.svg");
    background-color: #FF2F64;
    outline: none;
}

@supports not selector(:focus-visible) {
    .product-card button:focus {
        border-color: #2D3440;
        background-image: url("../images/icons/cart-light.svg");
        background-color: #FF2F64;
        outline: none;
    }    
}

.product-card button:active {
    border-color: #FF2F64;
    background-image: url("../images/icons/cart-dark.svg");
    background-color: #FFCBD8;
}

.about {
    padding: 24px;
    background-image: url("../images/background/waffle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.about-content {
    width: 1122px;
    padding: 56px 40px;
    background: #FFFFFF;
    border-radius: 16px;
}

.feature-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 505px 505px;
    gap: 40px 32px;
}

.feature-list li {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
}

.feature-list li::before {
    content: '';
    background: center/32px no-repeat;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #2D3440;
}

.feature-list li:nth-child(1)::before {
    background-image: url("../images/icons/ice-cream.svg");
}

.feature-list li:nth-child(2)::before {
    background-image: url("../images/icons/cow.svg");
}

.feature-list li:nth-child(3)::before {
    background-image: url("../images/icons/leaf.svg");
}

.feature-list li:nth-child(4)::before {
    background-image: url("../images/icons/thermometer.svg");
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.blog-excerpt {
    width: 570px;
    display: grid;
}

.blog-excerpt .text-container {
    max-width: 305px;
    margin-top: 33px;
    margin-left: 32px;
    margin-bottom: 32px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 1;
}

.blog-excerpt-image {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.blog-excerpt-hint {
    line-height: 20px;
    display: block;
    margin-bottom: 12px;
}

.blog-excerpt-link {
    color: #2D3440;
    text-decoration: none;
}

.blog-excerpt-link:hover {
    text-decoration: underline;
}

.blog-excerpt-link:focus-visible {
    outline: 2px solid #2D3440;
    outline-offset: 0;
}

@supports not selector(:focus-visible) {
    .blog-excerpt-link:focus {
        outline: 2px solid #2D3440;
        outline-offset: 0;
    }    
}

.blog-excerpt-link:active {
    opacity: 0.5;
}

.blog-excerpt-link h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.newsletter {
    width: 570px;
    padding: 6px;
    background-image: url("../images/background/stripes.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
}

.newsletter-content {
    background: #FFFFFF;
    padding: 26px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-text {
    margin: 0 0 42px;
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-input,
.delivery-form input {
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    color: #2D3440;
    padding: 13px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.email-input {
    width: 332px;
}

.email-input::placeholder,
.delivery-form input::placeholder,
.signin-form input::placeholder,
.search-form input::placeholder {
    color: #B9B9B9;
    opacity: 1;
}

.email-input:hover,
.delivery-form input:hover,
.signin-form input:hover,
.search-form input:hover {
    border-color: #2D3440;
}

.email-input:focus-visible,
.delivery-form input:focus-visible,
.signin-form input:focus-visible {
    padding: 12px 14px;
    border: 2px solid #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .email-input:focus,
    .delivery-form input:focus,
    .signin-form input:focus {
        padding: 12px 14px;
        border: 2px solid #2D3440;
        outline: none;
    }
}

.search-form input:focus-visible {
    outline: none;   
}

@supports not selector(:focus-visible) {
    .search-form input:focus {
        outline: none;
    }
}

.email-input:disabled,
.delivery-form input:disabled,
.signin-form input:disabled {
    background-color: #E7E7E7;
    border-color: #B9B9B9;
    color: rgba(45, 52, 64, 0.65);
}

.email-input:disabled:hover,
.delivery-form input:disabled:hover,
.signin-form input:disabled:hover {
    color: rgba(45, 52, 64, 1);
}

.send-form-button, 
.feedback-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 33px 12px 32px;
    max-width: 100%;
    color: #FCFCFC;
    background-color: #FF2F64;
    background-clip: padding-box;
    border: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    cursor: pointer;
}

.send-form-button:hover,
.feedback-button:hover,
.cart-purchase-button:hover,
.signin-button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    border-color: #FF2F64;
    box-shadow: none;
}

.send-form-button:focus-visible,
.feedback-button:focus-visible,
.cart-purchase-button:focus-visible,
.signin-button:focus-visible {
    border: 2px solid #2D3440;
    margin: 2px;
    color: #FCFCFC;
    background-color: #FF2F64;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    outline: none;
}

@supports not selector(:focus-visible) {
    .send-form-button:focus,
    .feedback-button:focus,
    .cart-purchase-button:focus,
    .signin-button:focus {
        border: 2px solid #2D3440;
        margin: 2px;
        color: #FCFCFC;
        background-color: #FF2F64;
        box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
        outline: none;
    }    
}

.send-form-button:active,
.feedback-button:active,
.cart-purchase-button:active,
.signin-button:active {
    border: 2px solid #2D3440;
    margin: 2px;
    color: #FCFCFC;
    background-color: #FEAFC3;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.delivery {
    padding: 64px 64px 64px 100px;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/background/delivery-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.delivery .text-container {
    width: 371px;
    margin-top: 103px;
}

.delivery-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0 0 24px;
    color: #2D3440;
}

.delivery-text {
    margin: 0;
}

.plate {
    background-color: #FCFCFC;
}

.delivery .plate {
    width: 500px;
    padding: 40px 40px 38px;
    border-radius: 8px;
    align-self: flex-end;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.plate .delivery-text {
    margin-bottom: 32px;
}

.delivery-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.delivery-form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.delivery-form label {
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.delivery-form .delivery-form-date {
    margin-right: 16px;
}

.delivery-form .delivery-form-address {
    margin-top: 20px;
    margin-bottom: 28px;
    width: 100%;
}

.delivery-form-date label::after,
.delivery-form-address label::after {
    content: url("../images/form/info.svg");
    width: 16px;
    height: 16px;
    transform: scale(0.875);
}

.delivery-form-date input {
    width: 117px;
}

.delivery-form-phone input {
    width: 287px;
}

.delivery-form-address input {
    align-self: stretch;
}

.contacts {
    padding: 64px;
    background-image: url("../images/background/cones-in-holder.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.contacts .plate {
    width: 343px;
    padding: 40px 36px 38px 36px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts address {
    font-style: inherit;
    margin: 0 4px 28px;
}

.contacts-location,
.contacts-phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    margin-top: 12px;   
}

.contacts-location {
    margin-bottom: 24px;
}

.contacts-phone {
    text-decoration: none;
}

.working-hours {
    font-size: 14px;
    line-height: 20px;
    display: block;
}

.footer {
    color: #2D3440;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.separated-footer {
    border-top:1px solid rgba(252, 252, 252, 0.3);
}

.social-list {
    width: 108px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
}

.hero .social-list {
    margin-right: -2px;
}

.footer .social-list {
    margin-left: -2px;
    margin-top: -2px;
}

.social-item a {
    display: block;
    border: 2px solid rgba(252, 252, 252, 0.3);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}

.social-item a:hover {
    border-color: rgba(252, 252, 252, 0.5);
    background-color: #2D3440;
}

.social-item a:focus-visible {
    border-color: #2D3440;
    background-color: #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .social-item a:focus {
        border-color: #2D3440;
        background-color: #2D3440;
        outline: none;
    }
}

.social-item a:active {
    border-color: rgba(252, 252, 252, 0.5);
    background-color: #2D3440;
    opacity: 0.5;
}

.link-telegram {
    background-image: url("../images/icons/telegram.svg");
}

.link-vk {
    background-image: url("../images/icons/vk.svg");
}

.link-youtube {
    background-image: url("../images/icons/youtube.svg");
}

.footer-links {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-left: -1px;
    padding: 0;
    list-style-type: none;
    width: 356px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-links-item {
    margin-left: 24px;
    margin-bottom: 8px;
    width: 126px;
}

.footer-links-item:nth-child(2n) {
    width: 182px;
}

.footer-links a, 
.copyright-text a {
    color: inherit;
    text-decoration: none;
}

.footer .container {
    width: 193px;
}

.link-favourite {
    font-weight: 700;
    position: relative;
}

.link-favourite::before {
    content: url("../images/icons/heart-fill.svg");
    position: absolute;
    top: 0;
    left: -24px;
}

.developer-logo {
    vertical-align: bottom;
}

.copyright-text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    margin-top: 14px;
}

.copyright-text a {
    border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.catalog-header {
    color: #2D3440;
    margin: 32px 0 40px;
}

.breadcrumbs {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.breadcrumbs-link:not(:first-child):before {
    content: url("../images/chevrons-right.svg");
    line-height: 0;
    margin-right: 7px;
}

.breadcrumbs-link-current {
    position: relative;
}

.breadcrumbs-link-current:after {
    position: absolute;
    content: "";
    left: 20px;
    right: -2px;
    bottom: 0px;
    height: 1px;
    background-color: #2D3440;
}

.catalog-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
}

.filter {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-bottom: 44px;
    width: 823px;
}

.filter-sort {
    width: 196px;
    margin: 0;
}

.filter-sort label {
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 16px;
}

.select-control {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 20px;
    background: rgba(252, 252, 252, 0.3);
    appearance: none;
    width: 100%;
    padding: 6px 27px 6px 14px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: url("../images/form/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 11px center;
}

.select-control:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus-visible {
    background-color: rgba(252, 252, 252, 0.4);
    border-color: #FCFCFC;   
    outline: none;
}

@supports not selector(:focus-visible) {
    .select-control:focus {
       background-color: rgba(252, 252, 252, 0.4);
        border-color: #FCFCFC;   
        outline: none;
    }
}

.filter-group {
    border: 0;
    padding: 0;
    margin: 0;
}

.filter-group.filter-fat,
.filter-group.filter-price {
    margin-left: 24px;
}

.filter-group legend {
    padding: 0;
    margin-bottom: 8px;
    margin-left: 16px;
}

.filter-group input {
    margin: 0;
}

.filter-price {
    width: 196px;
    flex-wrap: wrap;
}

.filter-price input {
    width: 29px;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    appearance: textfield;
}

.filter-price input::-webkit-inner-spin-button,
.filter-price input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.range-slider-container {
    padding: 17px 16px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.range-slider {
    width: 164px;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 1px;
}

.range-slice {
    max-width: 148px;
    height: 100%;
    background-color: rgb(86, 92, 102);
    position: relative;
}

.range-toggle {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #2D3440;
    background-clip: padding-box;
    cursor: pointer;
    position: absolute;
    top: -9px;
}

.toggle-min {
    left: -18px;
}

.toggle-max {
    right: -18px;
}

.range-toggle::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FCFCFC;
    margin: 0 auto;
}

.range-toggle:hover {
    background-color: #FCFCFC;
}

.range-toggle:hover::before,
.range-toggle:focus-visible::before,
.range-toggle:active::before {
    background-color: #2D3440;
}

.range-toggle:focus-visible {
    background-color: #FCFCFC;
    border-color: #2D3440;
    outline: none;   
}

@supports not selector(:focus-visible) {
    .range-toggle:focus {
        background-color: #FCFCFC;
        border-color: #2D3440;
        outline: none;   
    }    

    .range-toggle:focus::before {
        background-color: #2D3440;
    }    
}

.range-toggle:active {
    background-color: #2D3440;
    border-color: transparent;   
}

.filter-list {
    background: rgba(252, 252, 252, 0.3);
    margin: 0;
    padding: 0 24px;
    list-style-type: none;
    border-radius: 18px;
    display: flex;
    column-gap: 16px;
}

.filter-fat .filter-list {
    padding-top: 8px;
    padding-bottom: 8px;
}

.control {
    display: flex;
    align-items: center;
}

.radio-marker {
    width: 16px;
    height: 16px;
    border: none;
    padding: 5px;
    margin: 0;
    margin-right: 8px;
    border-radius: 50%;
    background-image: url("../images/form/radio-empty-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* Предзагрузка светлой иконки для смены состояний */
.radio-marker::before {
    content: url("../images/form/radio-empty-light.svg");
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
}

.radio-marker:hover,
.radio-marker:focus-visible {
    background-image: url("../images/form/radio-empty-light.svg");
    outline: none;
}

@supports not selector(::focus-visible) {
    .radio-marker:focus {
        background-image: url("../images/form/radio-empty-light.svg");
        outline: none;
    }
}

.radio-input:disabled ~ .radio-marker {
    background-image: url("../images/form/radio-empty-dark.svg");
    opacity: 0.5;
}


.radio-input:checked:not(:disabled) ~ .radio-marker::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2D3440;
}

.radio-input:checked:not(:disabled) ~ .radio-marker:hover::after,
.radio-input:checked:not(:disabled) ~ .radio-marker:focus-visible::after {
    background-color: #FCFCFC;
    outline: none;
}

@supports not selector(:::focus-visible) {
    .radio-input:checked:not(:disabled) ~ .radio-marker:focus::after {
        background-color: #FCFCFC;
        outline: none;
    }
}

.checkbox-marker {
    width: 16px;
    height: 16px;
    border: none;
    margin: 0;
    margin-right: 8px;
    background-image: url("../images/form/checkbox-empty-dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* Предзагрузка светлой иконки для смены состояний */
.checkbox-marker::before {
    content: url("../images/form/checkbox-empty-light.svg");
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    z-index: -1;
}

.checkbox-marker:hover,
.checkbox-marker:focus-visible {
    background-image: url("../images/form/checkbox-empty-light.svg");
    outline: none;
}

@supports not selector(::focus-visible) {
    .checkbox-marker:focus {
        background-image: url("../images/form/checkbox-empty-light.svg");
        outline: none;
    }
}

.checkbox-input:disabled ~ .checkbox-marker {
    background-image: url("../images/form/checkbox-empty-dark.svg");
    opacity: 0.5;
}

.checkbox-input:checked:not(:disabled) ~ .checkbox-marker {
    background-image: url("../images/form/checkbox-checked-dark.svg");
}

.checkbox-input:checked:not(:disabled) ~ .checkbox-marker:hover,
.checkbox-input:checked:not(:disabled) ~ .checkbox-marker:focus-visible {
    background-image: url("../images/form/checkbox-checked-light.svg");
}

@supports not selector(::focus-visible) {
    .checkbox-input:checked:not(:disabled) ~ .checkbox-marker:focus {
        background-image: url("../images/form/checkbox-checked-light.svg");
    }
}

.filter-filler .filter-list {
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-submit-button {
    font-weight: 700;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: rgba(252, 252, 252, 0.3);
    background-clip: padding-box;
    margin-left: 16px;
    padding: 8px 32px;
    width: 189px;
    align-self: flex-end;
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    text-indent: -1px;
    cursor: pointer;
}

.filter-submit-button:hover {
    border-color: rgba(252, 252, 252, 0.3);
    background-color: #FCFCFC;
}

.filter-submit-button:focus-visible {
    border-color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    outline: none;
}

@supports not selector(:focus-visible) {
    .filter-submit-button:focus {
       border-color: #2D3440;
        background-color: rgba(252, 252, 252, 0.3);
        outline: none;
    }
}

.filter-submit-buttonactive {
    border: none;
    margin: 2px 0 2px 16px;
    width: 185px;
    background-color: rgba(252, 252, 252, 0.5);
}

.catalog > .bottom-container {
    margin-top: 16px;
    margin-bottom: 39px; 
    padding: 37px 0;
    display: flex;
    align-items: center;
}

.button-show-more-container {
    width: 288px;
    max-width: 288px;
    min-height: 52px;
    margin-left: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-show-more {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 32px 12px 33px;
    background-color: #FCFCFC;
    background-clip: padding-box;
    color: #2D3440;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    cursor: pointer;
}

.button-show-more:hover {
    background-color: rgba(252, 252, 252, 0.4);
    border-color: #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.button-show-more:focus-visible {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border: 2px solid #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .button-show-more:focus {
        background-color: rgba(252, 252, 252, 0.5);
        box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
        border: 2px solid #2D3440;
        outline: none;
    }
}

.button-show-more:active {
    background-color: #FCFCFC;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border: 2px solid #2D3440;
}

.catalog-pagination {
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.catalog-pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.catalog-pagination-item:first-child {
    justify-content: flex-start;
}

.catalog-pagination-item:last-child {
    justify-content: flex-end;
}

.pagination-link {
    display: block;
    text-decoration: none;
    color: #2D3440;
}

.pagination-number {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
}

.pagination-prev,
.pagination-next {
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 50%;
}

.pagination-prev {
    transform: rotate(180deg);
}

.pagination-link:not(.pagination-current-page):hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:not(.pagination-current-page):focus-visible {
    background-color: rgba(252, 252, 252, 0.3);
    border-color: #2D3440;
    outline: none;
}

@supports not selector(:focus-visible) {
    .pagination-link:not(.pagination-current-page):focus {
        background-color: rgba(252, 252, 252, 0.3);
        border-color: #2D3440;
        outline: none;
    }    
}

.pagination-link:not(.pagination-current-page):active {
    background-color: rgba(252, 252, 252, 0.5);
    border-color: #FCFCFC;
}

.pagination-disabled {
    opacity: 0.3;
}

.pagination-current-page {
    background: #FCFCFC;
}