@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    background: #FEAFC3;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    line-height: 20px;
    color: #2D3440;
}

.navigation {
    display: flex;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.logo-link {
    margin-right: 16px;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.action-list {
    margin: 0;
    padding: 0;
}

.menu-button,
.action-list button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.menu-button {
    background-color: transparent;
}

.phone-link {
    margin-left: auto;
    margin-right: 16px;
    font-weight: 700;
}

.action-list button {
    background: rgba(252, 252, 252, 0.3);
}

.menu-list {
    font-size: 14px;
    line-height: inherit;
    color: #2D3440;
}

.menu-link-favourite {
    font-weight: 700;
}

.action-list {
    font-size: 14px;
}

.main-container {
    flex-grow: 1;
}

.hero {
    color: #2D3440;
    padding-left: 70px;
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slider-item {
    display: flex;
}

.slider-item .text-container {
    width: 470px;
}

.hero h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
}

.hero .bottom-container {
    display: flex;
    justify-content: space-between;
}

.slider-pagination {
    margin: 0;
    padding: 0;
}

.link-button {
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    background: #FCFCFC;
    text-decoration: none;
    text-align: center;
}

.lead-text {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gift-promo {
    color: #2D3440;
}

.gift-promo-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.gift-promo-item {
    background: #FF7799;
    box-sizing: border-box;
    width: 570px;
    padding-left: 36px;
}

.gift-promo-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.product-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 270px;
    background: #FCFCFC;
    text-align: center;
}

.product-card h3, 
.product-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.product-card button {
    background: #FF2F64;
}

.about {
    padding: 24px;
    background-image: url("../images/background/waffle.jpg");
    background-position-x: -30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content {
    box-sizing: border-box;
    width: 1122px;
    padding: 56px 40px;
    background: #FFFFFF;
}

.feature-list {
    width: 1042px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-list li {
    width: 505px;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.blog-excerpt {
    width: 570px;
}

.blog-excerpt-hint {
    line-height: 20px;
}

.blog-excerpt-link {
    color: #2D3440;
    text-decoration: none;
}

.blog-excerpt-link h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.newsletter {
    box-sizing: border-box;
    width: 570px;
    padding: 6px;
    background-image: url("../images/background/stripes.png");
    background-repeat: no-repeat;
    text-align: center;
}

.newsletter-content {
    background: #FFFFFF;
    padding: 26px 26px 28px;
}

.email-input,
.delivery-form input {
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    color: #2D3440;
}

.email-input::placeholder,
.delivery-form input::placeholder {
    color: #B9B9B9;
}

.send-form-button, 
.feedback-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: 20px;
    color: #FCFCFC;
    background-color: #FF2F64;
    background-clip: padding-box;
}

.delivery {
    padding: 64px 64px 64px 100px;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/background/delivery-background.jpg");
    background-repeat: no-repeat;
}

.delivery .text-container {
    width: 371px;
}

.delivery-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: #2D3440;
}

.plate {
    background-color: #FCFCFC;
}

.delivery .plate {
    box-sizing: border-box;
    width: 500px;
    padding: 40px 40px 42px;
}

.delivery-form label {
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
}

.contacts {
    padding: 64px;
    background-image: url("../images/background/cones-in-holder.jpg");
    background-repeat: no-repeat;
}

.contacts .plate {
    box-sizing: border-box;
    width: 343px;
    padding: 40px 40px 42px;
}

.contacts address {
    font-style: inherit;
}

.contacts-location,
.contacts-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;   
}

.contacts-phone {
    text-decoration: none;
}

.working-hours {
    font-size: 14px;
    line-height: 20px;
}

.footer {
    color: #2D3440;
    display: flex;
    justify-content: space-between;
}

.social-list {
    width: 104px;
    margin: 0;
    padding: 0;
}

.footer-links {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 356px;
}

.footer-links a, 
.copyright-text a {
    color: inherit;
    text-decoration: none;
}

.footer .container {
    width: 193px;
}

.link-favourite {
    font-weight: 700;
}

.copyright-text {
    font-size: 12px;
    line-height: 16px;
}

.catalog-header {
    color: #2D3440;
}

.breadcrumbs {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.catalog-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.filter {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    display: flex;
    width: 823px;
}

.select-control {
    font-family: inherit;
    font-size: inherit;
    background: rgba(252, 252, 252, 0.3);
}

.select-control option {
    color: #2D3440;
}

.filter-list {
    background: rgba(252, 252, 252, 0.3);
}

.filter button {
    font-weight: 700;
    background-color: rgba(252, 252, 252, 0.3);
}

.catalog .bottom-container {
    display: flex;
    align-items: center;
}

.button-show-more {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: 20px;
    background: #FCFCFC;
    margin-left: auto;
}

.catalog .pagination {
    margin: 0;
    margin-left: 335px;
    padding: 0;
}

.pagination-item a {
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.pagination-current-link {
    background: #FCFCFC;
}