@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    background: #FEAFC3;
}

.header {
    line-height: 20px;
    color: #2D3440;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.action-list {
    font-size: 14px;
}

.phone-link {
    font-weight: 700;
}

.hero {
    color: #2D3440;
}

.hero h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
}

.link-button {
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.lead-text {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gift-promo {
    color: #2D3440;
}

.gift-promo h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.gift-promo-item {
    background: #FF7799;
    border-radius: 16px;
}

.popular {
    font-size: 20px;
    line-height: 24px;
}

.product-card {
    background: #FCFCFC;
    border-radius: 8px;
    text-align: center;
}

.product-card h3, 
.product-price {
    color: #2D3440;
}

.product-card a {
    color: inherit;
    text-decoration: none;
}

.about {
    background-image: url("../images/background/waffle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.about-content {
    background: #FFFFFF;
    border-radius: inherit;
}

.blog-excerpt {
    line-height: 20px;
}

.blog-excerpt a {
    color: #2D3440;
    text-decoration: none;
}

.blog-excerpt a:hover {
    text-decoration: underline;
}

.blog-excerpt h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.blog-excerpt img {
    border-radius: 16px;
}

.newsletter {
    background-image: url("../images/background/stripes.png");
    width: 570px;
    height: 224px;
}

.newsletter-content {
    background: #FFFFFF;
    border-radius: 16px;
}

.email-input {
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    color: #2D3440;
}

.email-input::placeholder {
    color: #B9B9B9;
}

.send-form-button {
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    color: #FCFCFC;
    background: #FF2F64;
}